name: GitHub Actions Demo
on:
  push: 
    branches: [ main ] 
    paths-ignore:
        - ".github/**"
  pull_request:
    branches: [ main ]
  schedule:
      - cron: "15 6 * * 0"
  workflow_dispatch:
 
jobs:
  Build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
 
      - name: Show triggering event
        run: echo "Event that triggered this workflow:$GITHUB_EVENT_NAME"
 
      - name: Show current branch
        run: echo "Current branch:$GITHUB_REF_NAME"
 
      - name: List all files in the repository
        run: ls -R
